*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: #212529;
    color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 8px #adb5bd;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

.currency-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.currency-container select{
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    background: #dee2e6;
}

.currency-container input{
    border: 0;
    background: transparent;
    font-size: 25px;
    color: white;
    text-align: right;
}

.exchange-rate{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #adb9c3;
    margin-top: 10px;
}

select:focus,
input:focus{
    outline: none;
}